body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.section {
    padding-bottom: 120px;
    padding-top: 120px;
}
.header__container {
    display: flex;
}

.header {
padding-top: 24px;
padding-bottom: 24px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    padding-left: 156px;
}

.nav__logo span {
    color: #2e2f42;
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    padding-left: 76px;
}

.nav__link {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav__link:hover,
.nav__link:focus,
.contact__mail:hover,
.contact__mail:focus,
.contact__tel:hover,
.contact__tel:focus {
    color: #404bbf;
}

.contact {
    font-style: normal;
}

.contact__list {
    display: flex;
}

.contact__mail {
    text-decoration: none;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-left: 332px;
}

.contact__tel {
    text-decoration: none;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-left: 40px;
}

.hero__container {
    width: 1440px;
    height: 600px;
}

.hero {
    text-align: center;
    background: #2E2F42;
    width: 1440px;
    height: 600px;
}

.hero__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    gap: 0px;
    opacity: 0px;
    padding-top: 188px;
    padding-right: 472px;
    padding-bottom: 48px;
    padding-left: 472px;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero__button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    color: #fff;
    border: none;
    cursor: pointer;
}

.hero__button:hover,
.hero__button:focus {
    background: #404BBF;
}

.benefits {
    background-color: #FFFFFF;
}

.benefits__list {
    display: flex;
    margin-top: 120px;
    margin-right: 156px;
    margin-bottom: 120px;
    margin-left: 156px;
}

.benefits__item{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 264px;
    height: 104px;
}

.benefits__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefits__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #F4F4FD;
    width: 1440px;
    height: 732px;
}

.team__item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    margin-top: 232px;
}

.text__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 232px;
    height: 56px;
}

.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team__list {
    display: flex;
    align-items: center;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    gap: 24px;
    margin-top: 72px;
    margin-left: 156px;

}

.team__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team__role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio {
    width: 1128px;
    height: 1000px;
}

.portfolio__title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-top: 120px;
}
.portfolio__item {
    background-color: #FFFFFF;
    width: 360px;
    height: 420px;
    margin-top: 48px;
}
.portfolio__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio__text {
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
        width: 360px;
        height: 120px;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio__role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    width: 1440px;
    height: 312px;
    padding-top: 100px;
    padding-left: 156px;
}

.footer__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer__logo span {
    color: #f4f4fd;
}

.footer__text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
    height: 112px;
    
}

.container {
    width: 1158px;
}